html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#map {
	height: 100%;
}

.side {
	background-color: rgba(0,0,22, 1);
	height: 100%;
	width: 256px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.divider {
	margin: 10px 0 15px 0;
	width: 100%;
	border-bottom: 1px solid #CBC1C1;
}

.container {
	width: 100%;
} 

.listcontainer {
	width: 100%;
	color: #CAD7FB;
}


#filterneighborhood {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  padding-left: 5px;
  color: #CAD7FB;
  font-weight: bold;
}

#neighborhoodlist {
	list-style: none;
	padding-left: 15px;
}

#inputneighborhood {
  width: 240px;
  height: 40px;
}

.venueBlock .venueDetails .venueData .venueDataItem:last-child .delim {
    display: none;
}

.venueBlock .venueDetails .venueData .delim {
    color: #ccc;
    padding: 0 2px;
}

.venueData {
    color: #959b9e;
    font-size: 10px;
    font-weight: bold;
    margin-top: -1px;
}

.venueBlock .venueDetails .venueAddress {
    color: #959b9e;
    font-size: 11px;
}

.venueAddressData {
    /* width: 170px; */
}
.venueScore {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.neutral {
    background: #ffc800;
}

.venueName {
  font-weight: bold;
}

.venueBlock {
    margin-bottom: 5px;
    overflow: hidden;
}


.venueDetails {
    /* width: 208px; */
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

.venueImage {
	display: inline-block;
	vertical-align: top;
	background-color: blue;
	height: 80px;
}
