html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#map {
	height: 100%;
}

.container {
	background-color: rgba(0,0,22, .4);
	border: 1px solid gray;
	height: 100px;
	width: 33.33%;
	position: absolute;
	z-index: 5;
} 

.listcontainer {
	position: absolute;
	top: 25px;
	right: 10px;
	background-color: rgba(0,0,22, .6);
	color:#f9f043;
	border: 1px solid gray;
	width: 30%;
	z-index: 5;
}


#filterneighborhood {
  position: absolute;
  left: 40px;
  width: 50%;
  font-size: 18px;
  padding: 20px;
  padding-left: 5px;
  z-index: 5;
  color: #f9f043;
  font-weight: bold;
}

#inputneighborhood {
  position: absolute;
  width: 240px;
  height: 40px;
  left: 45px;
  top: 48px;
  z-index: 5;
}

.venueBlock .venueDetails .venueData .venueDataItem:last-child .delim {
    display: none;
}

.venueBlock .venueDetails .venueData .delim {
    color: #ccc;
    padding: 0 2px;
}

.venueData {
    color: #959b9e;
    font-size: 10px;
    font-weight: bold;
    margin-top: -1px;
}

.venueBlock .venueDetails .venueAddress {
    color: #959b9e;
    font-size: 11px;
}

.venueAddressData {
    width: 170px;
}
.venueScore {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.neutral {
    background: #ffc800;
}

.venueName {
  font-weight: bold;
}

.venueBlock {
    margin-bottom: 5px;
    overflow: hidden;
}


.venue.details {
    width: 208px;
}

.venuicon {
    float: left;
    height: 32px;
    line-height: 0;
    position: relative;
    width: 42px;
}

